body {
  background-color: rgb(173, 249, 254);
}

h1 {
  color: rgb(11, 7, 57);
  text-align: center;
  font-family: 'Archivo Black';
}

h4 {
  color: rgb(11, 7, 57);
  text-align: center;
  font-family: 'Cardo';
}

h3 {
  color: rgb(11, 7, 57);
  text-align: center;
  font-family: 'Cardo'
}

.home {
  display: table;
  margin: 0 auto;
  margin-top: -20px;
}

.home {
  padding-top: 20px;
  list-style-type: none;
}

.home li {
  display: block;
  margin: 15px;
  padding: 15px 35px 15px 35px;
  background-color: white;
  width: 45%;
}

.home li a {
  color: rgb(11, 7, 57);
  text-decoration: none;
  font-family: 'Archivo Black';
  text-align: center;
}

.home li a:hover {
  color: rgb(173, 249, 254);
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
